@import url('gold.css') layer(gold);

:root {
    --m: 1.5rem
}

@view-transition {
    navigation: auto;
}

body {
    background: darkslategray;
    font-family: monospace;
    padding-inline: 60px;
    &.gw {
        margin-top: var(--m);
    }
}

a:hover, a:focus {
    color: gold;
}

code {
    background: rgba(112, 128, 144, 0.5);
    border-radius: 6px;
    padding-inline: .5ch;
}

h1 {
    font-weight: bold;
    padding-bottom: var(--m);
    word-break: break-all;
    > span {
        font-weight: initial;
        font-style: italic;
    }
    + p {
        font-style: italic;
    }
}

h1 {
    view-transition-name: h1;
}

::view-transition-old(h1),
::view-transition-new(h1) {
    width: 100%;
    height: 100%;
    animation-duration: 200ms;
}
