<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/gold.css">
        <link rel="stylesheet" href="/static/css/site.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="icon" href="/static/img/img.jpg">
        <title>Gold CSS</title>
    </head>
    <body class="stack gap-xxl">
        <header id="#top">
            <a href="#top"><img class="logo" src="/static/img/img.jpg"></a>
            <nav class="chain gap-m">
                <a href="#features">Features</a>
                <a href="#demo">Demo</a>
                <a href="#faq">FAQ</a>
                <a href="#download">Download</a>
            </nav>
        </header>
        <section class="stack gap-xl gold-center">
            <div id="title">
                <h1>Gold</h1>
                <div class="gold-center">
                    <p>.css</p>
                </div>
            </div>
            <div class="gold-center">
                <article id="hero" class="gg-01-v dark-bg">
                    <div>
                        <h2>
                            Discover Gold.css
                        </h2>
                    </div>
                    <div class="stack gap-l gold-bg">
                        <div class="gold-center">
                            <div class="gg-10-v p-m">
                                <p>
                                    A modular CSS stylesheet based on the 
                                    <strong>golden ratio</strong>
                                </p>
                                <div class="gold-center">
                                    <a href="#download">
                                        <button class="p-m">
                                            Download
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section id="features" class="stack gap-xl">
            <div class="banner">
                <a href="#features"><h2>Features</h2></a>
            </div>
            <div class="stack gap-l gold-center">
                <article class="gg-01 gold-bg">
                    <h3 class="gold-center">1</h3>
                    <div class="p-s light-bg">
                        <strong>Balance: </strong>
                        Design based on the
                        <a href="https://en.wikipedia.org/wiki/Golden-ratio">golden ratio</a>.
                    </div>
                </article>
                <article class="gg-10 gold-bg">
                    <div class="p-s light-bg">
                        <strong>Resets: </strong>
                        Sensible CSS defaults.
                    </div>
                    <h3 class="gold-center">2</h3>
                </article>
                <article class="gg-01 gold-bg">
                    <h3 class="gold-center">3</h3>
                    <div class="p-s light-bg">
                        Easy-to-use and atomic classes.
                    </div>
                </article>
            </div>
        </section>
        <section id="demo" class="stack gap-xl">
            <div class="banner">
                <a href="#demo"><h2>Demo</h2></a>
            </div>
            <div class="stack gap-l gold-center">
                <div class="stack gap-m">
                    <h3>Divinely spaced</h3>
                    <article class="gg-01 gold-bg">
                        <h3 class="gold-center">Golden Grid</h3>
                        <div class="p-s light-bg">
                            <pre>
                                <code>
                                    &lt;div class="gg-10"&gt;
                                        &lt;h3&gt;Golden Grid&lt;/h3&gt;
                                        &lt;p&gt;Code&lt;/p&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </article>
                    <article class="gg-01-v gold-bg">
                        <h3 class="gold-center">Golden Grid</h3>
                        <div class="p-s light-bg">
                            <pre>
                                <code>
                                    &lt;div class="gg-10-v"&gt;
                                    &lt;h3&gt;Golden Grid&lt;/h3&gt;
                                    &lt;p&gt;Code&lt;/p&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </article>
                </div>
                <hr>
                <div class="stack gap-m">
                    <h3>The Center</h3>
                    <div>
                        <p class="gold-bg">Φ</p>
                        <div class="gold-center">
                            <p class="light-bg">1</p>
                            <div class="gold-center">
                                <p class="gold-bg">1/Φ</p>
                            </div>
                        </div>
                    </div>
                    <pre>
                        <code>
                            &lt;p&gt;Φ&lt;/p&gt;
                            &lt;div class="gold-center"&gt;
                            &lt;p&gt;1&lt;/p&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>
                <div class="stack gap-m">
                    <h3>The Stack</h3>
                    <article class="p-s">Make</article>
                    <article class="p-s">a</article>
                    <article class="p-s">stack...</article>
                    <pre>
                        <code>
                            &lt;div class="stack stack-small"&gt;
                            &lt;h3&gt;The Stack&lt;/h3&gt;
                            &lt;p&gt;Make&lt;/p&gt;
                            &lt;p&gt;a&lt;/p&gt;
                            &lt;p&gt;stack...&lt;/p&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>
                <div class="stack gap-m">
                    <h3>The Chain</h3>
                    <div class="chain gap-l">
                        <article class="p-s">or</article>
                        <article class="p-s">a</article>
                        <article class="p-s">chain...</article>
                    </div>
                    <pre>
                        <code>
                            &lt;div class="chain"&gt;
                            &lt;p&gt;or&lt;/p&gt;
                            &lt;p&gt;a&lt;/p&gt;
                            &lt;p&gt;chain...&lt;/p&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>
                <div class="stack gap-m gold-center">
                    <h3>Typography</h3>
                    <article>
                        <h1>h1</h1>
                        <h2>h2</h2>
                        <h3>h3</h3>
                        <h4>h4</h4>
                        <p>p</p>
                    </article>
                    <blockquote>"Carpe Diem"</blockquote>
                    <code>print("hello world")</code>
                    <abbr title="Dolor Sic Amet">Lorem Ipsum</abbr>
                </div>
                <hr>
                <div class="stack gap-m">
                    <h3>Inputs and Buttons</h3>
                    <div class="gold-center">
                        <input class="p-s" type="text" placeholder="Input...">
                    </div>
                    <div class="gold-center">
                        <button class="p-s">Submit</button>
                    </div>
                    <div class="gold-center">
                        <button class="p-s" disabled="True">Disabled</button>
                    </div>
                    <div class="gold-center">
                        <div class="chain gap-m">
                            <input type="radio" id="radioOption1" name="radioGroup" value="option1">
                            <label for="radioOption1">Option 1</label>
                            <input type="radio" id="radioOption2" name="radioGroup" value="option2">
                            <label for="radioOption2">Option 2</label>
                        </div>
                    </div>
                    <div class="gold-center">
                        <div class="chain gap-m">
                            <input type="checkbox" id="checkboxOption" name="checkboxGroup" value="option">
                            <label for="checkboxOption">Checkbox</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="stack gap-m gold-center">
                        <h3>Media</h3>
                    <audio controls>
                        <source src="audio.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <video width="320" height="240" controls>
                        <source src="video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>
        <section id="faq" class="stack gap-xl">
            <div class="banner">
                <a href="#faq"><h2>FAQ</h2></a>
            </div>
            <div class="stack gap-l gold-center">
                <div>
                    <h3>Can I use it?</h3>
                    <p>
                        Go on. I regret doing this anyway.
                    </p>
                </div>
                <div>
                    <h3>How can I help?</h3>
                    <p>Break it, roast it, then reach me on X <a href="https://x.com/merelyacat">@merelyacat</a></p>
                </div>
            </div>
        </section>
        <section id="download" class="stack gap-xl">
            <div class="banner">
                <a href="#download"><h2>Download</h2></a>
            </div>
            <div class="gold-center">
                <p>See source code on <a href="https://github.com/1363V4/gold.css/blob/main/static/css/gold.css">Github</a></p>
            </div>
        </section>
        <footer>
            <p>2024 gold.css</p>
        </footer>
    </body>
</html>